.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
}

.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul li{
    margin-right: 2rem;
    color: #fff;
    list-style: none;
}

.header nav ul li a{
    color: #fff;
    text-decoration: none;
}

.showcase {
    background: url("./images/Hero-image.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
}

.showcase .overlay{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    padding: 0 1.5rem;
    width: 100%;
}

.showcase .overlay h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    max-width: 1000px;
}

.showcase .overlay h1 span{
    color: #309dcd;
}

.showcase .overlay p {
    color:#fff;
    margin-bottom: 1rem;
}

.btn{
    background-color: #fff;
    color: #111827;
    font-size: 1rem;
    padding: 0.625rem 3rem;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.75;
}

